body {
  background: url("hero.jpg");
  background-size: cover;
  height: 100vh;
  color: #fff;
}

.rdtPicker {
  color: black;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.hero {
  padding-top: 200px;
}

.register {
  padding-top: 0;
}

.hero-title {
  font-size: 60px;
}

.title-text {
  font-size: 20px;
  line-height: 1.5;
}

.space-left {
  margin-left: 20px;
}

.eventPanel {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding: 20px;
  margin: 30px 0;
  background-color: #fff;
  color: #333;
}

.eventPanel .description {
  margin: 30px 0;
  font-size: 18px;
}

.budy-btn {
  margin-right: 10px;
}

.feed-event-box {
  background: #fff;
  color: #7f8187;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.feed-event-box .name {
  font-weight: 600;
}

.feed-event-box .eventTitle a {
  font-size: 18px;
  color: #ecc30a;
  font-weight: 700;
}

.feed-event-buddies {
  font-weight: 600;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 10px 0;
  margin-bottom: 10px;
}

.lunchBuddyIcon img {
  border-radius: 50%;
  height: 100px;
  border: 3px solid #8bc058;
}

.eventLunchBuddiesList .lunchBuddyIcon img {
  height: 30px;
  border: 2px solid #8bc058;
}
